<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.passport.mapper.AdminMapper">
    <!--    int insert(Admin admin);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into ams_admin (username, password, nickname,
                               avatar, phone, email,
                               description, enable,
                               last_login_ip, login_count)
        VALUES (#{username}, #{password}, #{nickname},
                #{avatar}, #{phone}, #{email},
                #{description}, #{enable},
                #{lastLoginIp}, #{loginCount})
    </insert>


    <!--    * 通过id删除-->
    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM ams_admin
        WHERE id = #{id}
    </delete>

    <!--    int countByName(String name);-->
    <select id="countByUsername" resultType="int">
        select COUNT(*)
        FROM ams_admin
        WHERE username = #{username}
    </select>

    <!--    int countByEmail(String name);-->
    <select id="countByEmail" resultType="int">
        select COUNT(*)
        FROM ams_admin
        WHERE email = #{email}
    </select>

    <!--    int countByPhone(String name);-->
    <select id="countByPhone" resultType="int">
        select COUNT(*)
        FROM ams_admin
        WHERE phone = #{phone}
    </select>


    <!--    * 获取管理员数据-->
    <!--    AdminStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultType="AdminStandardVO">
        SELECT id,
               username,
               password,
               nickname,
               avatar,
               phone,
               email,
               description,
               enable,
               last_login_ip,
               login_count
        FROM ams_admin
        WHERE id = #{id}
    </select>

    <!--    * 查询管理员列表-->
    <!--    List<AdminListItemVO> list();-->
    <select id="list" resultType="AdminListItemVO">
        SELECT id,
               username,
               password,
               nickname,
               avatar,
               phone,
               email,
               description,
               enable,
               last_login_ip,
               login_count
        FROM ams_admin
        ORDER BY enable desc, id
    </select>

</mapper>